Flask>=3.0.0
Flask-Mail>=0.9.1

mysql-connector-python>=9.0.0
python-dotenv>=1.0.1

google-genai>=0.4.0

xlsxwriter>=3.1.1
croniter>=2.0.5

APScheduler
pytz
requests
pandas
python-dateutil
reportlab
SQLAlchemy
python-docx
mammoth

gunicorn
